<!DOCTYPE html>
<html ng-app="firstApp">
  <head>
    <meta charset="utf-8">
    <title>{{ greeting }}</title>
    <link rel="stylesheet" type="text/css" href="./main.css" />
  </head>
  <body ng-init="names=['Harry', 'Ron', 'Hermione', 'Sirius', 'Hedwig', 'Tonks']">
    <main>

      <!-- <input type="text" placeholder="What is your name?" ng-init="name = 'BoJack'" ng-model='name'>

      <h1>Yelling: {{ name | uppercase }}</h1>
      <h1>Whispering: {{ name | lowercase }}</h1>


      <h2>{{3.14159265359 | currency : '€'}}</h2>

      </select>
      <h2>{{3.14159265359 | number : '3'}}</h2>
      <h2>{{3.14159265359 | number : '6'}}</h2>
      <h2>{{3.14159265359 | number : '1'}}</h2>
<hr>
      <h1>select how many digits to round to..</h1>
      <select ng-model="select">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
      </select>
      <h1>Pi is rounded to {{ select }}
        <ng-pluralize  count='select' when="{'1': 'digit', 'other': 'digits'}"></ng-pluralize></h1>
      <h1>{{ 3.14159265359 | number: (select) }}</h1>


<hr>

      <h1>the most helpful tip calculator</h1>
      <label for="cost">Your Meal cost: </label><input type="text" placeholder="$$.$$" ng-model="cost">
    <br>
      <label for="tip">How Much Do you want to tip?</label>
      <select ng-model="tip">
          <option value=".10">10%</option>
          <option value=".15">15%</option>
          <option value=".20">20%</option>
      </select>
      <h3>Subtotal: {{ cost | currency }}</h3>
      <h3>Tip: {{ cost * tip | currency }} </h3>
    </section>
    <section>
        <form>
          <input type="text" placeholder="Enter a boy's name" ng-model="boyName">
        <br>
          <input type="text" placeholder="Enter an adjective" ng-model="adjective">
        <br>
          <input type="text" placeholder="Enter a plural noun" ng-model="pluralNoun">
        <br>
          <input type="text" placeholder="Enter a plural noun" ng-model="pluralNoun2">
        <br>
          <input type="text" placeholder="Enter an insect, plural" ng-model="insect">
        <br>
          <input type="text" placeholder="Enter a plural noun" ng-model="pluralNoun3">
        <br>
          <input type="text" placeholder="Enter a verb ending in 's'" ng-model="verb">
        </form>
    Dear Abby...
        <h3>I'm in love with <span>{{ boyName }}</span>. He's so <span>{{ adjective }}</span>! He has big flat <span>{{ pluralNoun }}</span>, and when our <span>{{ pluralNoun2 }}</span> meet, I get <span>{{ insect }}</span> in my stomach. I've fallen for him like a ton of <span>{{ pluralNoun3 }}</span>, and he <span>{{ verb }}</span> for me, too. But I think he's got another girlfriend. What should I do?</h3>


        <ul>
          <li ng-repeat='name in names'> {{ name }}</li>
        </ul>

        <ul ng-init="symbols=['&#9824', '&#9827', '&#9829', '&#9830']">
          <li ng-repeat='symbol in symbols'>{{ symbol }}</li>
        </ul> -->

<!-- when truthy, show; when falsy, don't show -->
        <!-- <div ng-show='3 + 4 == 5'>
          3 + 4 isn't 5, don't show
        </div>

        <div ng-show='3 + 4 == 7'>
          3 + 4 is 7, do show
        </div>

        <div ng-hide='3 + 4 == 5'>
            3 + 4 isn't 5, don't hide
        </div>

        <div ng-hide='3 + 4 == 7'>
          3 + 4 is 7, do hide
        </div> -->

<!-- <br><br>
        <article>
          <form>
            <fieldset>
              <legend><h3>Sign up page</h3></legend>
                <input type="password" placeholder="password" ng-model="password" ng-class="{red: password.length < 6, green: password.length >= 6}" autofocus>
                <p ng-class="{red: password.length < 6, green: password.length >= 6}">
                  Your password is {{ password.length }} characters
                </p>
                <h3 ng-show="password.length < 6">Password is invalid</h3>
                <button ng-show="password.length >= 6">sign up!</button>
            </fieldset> -->
          <!-- </form> -->
<!-- use ng-class to change display: none to visibility: hidden -->
          <!-- </form>
        </article> -->
<!-- <br> -->
    <!-- <section ng-init="cameras=[
  {
    title: 'Nikon D3100 DSLR',
    image: 'http://ecx.images-amazon.com/images/I/713u2gDQqML._SX522_.jpg',
    rating: 3.4,
    price: 369.99,
    onSale: true
  },
  {
    title: 'Canon EOS 70D',
    image: 'http://ecx.images-amazon.com/images/I/81U00AkAUWL._SX522_.jpg',
    rating: 2.0,
    price: 1099.0,
    onSale: false
  },
  {
    title: 'Nikon D810A',
    image:'http://ecx.images-amazon.com/images/I/91wtXIfLl2L._SX522_.jpg',
    rating: 4.2,
    price: 3796.95,
    onSale: true
  }
]" ng-class="{yellow: camera.onSale===true}">
      <h1>Camera Shop</h1>
        <label for="sort">Sort by: </label>
        <select ng-model="sort">
          <option value="rating">rating</option>
          <option value="price">price</option>
        </select>
        <br>
        <div class="camera" ng-repeat="camera in cameras | orderBy: sort">
          <img ng-src="{{ camera.image }}" alt="camera image" />
          <ul ng-show="camera.onSale===true">
            <li><strong>{{ camera.title }}</strong></li>
            <li>price: {{ camera.price }} <span ng-show="camera.onSale===true" ng-class="{yellow: camera.onSale===true}">ON SALE!</span></li>
            <li>rating: {{ camera.rating }}</li>
          </ul>
        </div>

        </select>
    </section> -->
<br>
<!-- if values are repeated, must adjust for that -->
    <!-- <ul ng-init="numbers=[1,1,2,5,6,9,9,9]">
      <li ng-repeat="number in numbers track by $index">{{ number }}</li>
    </ul> -->


    <!-- <section ng-controller="MyFirstController">
      <h1>My name is: {{name}}</h1>
      <input ng-model="name" type="text" placeholder="What is your name?" autofocus>
    </section>

    <section ng-controller="ExercisesController">
      <h2 class="{{FavColor}}">favorite color: {{ FavColor }}!</h2>
      <h3>there are {{ secondsInACentury }} seconds in a century</h3>
      <h3>{{ rightNow | date : "EEEE, MMMM, yyyy"}}</h3>
    </section> -->

  <section ng-controller="MadLibs">
      <form>
        <input type="text" placeholder="Enter a boy's name" ng-model="boyName" autofocus>
      <br>
        <input type="text" placeholder="Enter an adjective" ng-model="adjective">
      <br>
        <input type="text" placeholder="Enter a plural noun" ng-model="pluralNoun">
      <br>
        <input type="text" placeholder="Enter a plural noun" ng-model="pluralNoun2">
      <br>
        <input type="text" placeholder="Enter an insect, plural" ng-model="insect">
      <br>
        <input type="text" placeholder="Enter a plural noun" ng-model="pluralNoun3">
      <br>
        <input type="text" placeholder="Enter a verb ending in 's'" ng-model="verb">
      </form>
  Dear Abby...
      <h3>I'm in love with <span>{{ boyName }}</span>. He's so <span>{{ adjective }}</span>! He has big flat <span>{{ pluralNoun }}</span>, and when our <span>{{ pluralNoun2 }}</span> meet, I get <span>{{ insect }}</span> in my stomach. I've fallen for him like a ton of <span>{{ pluralNoun3 }}</span>, and he <span>{{ verb }}</span> for me, too. But I think he's got another girlfriend. What should I do?</h3>
    </section>

  </main>



<!-- vanilla js -->
    <!-- <input type="text" placeholder="What is your name?" autofocus="" onkeyup="writeName()">

    <h1>My name is: <span id="name"></span></h1> -->

    <script type="text/javascript" src = 'https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script type="text/javascript" src = './index.js'></script>
    <script type="text/javascript" src = './app.js'></script>
  </body>
</html>
