<!DOCTYPE html>
<html ng-app>
  <head>
    <meta charset="utf-8">
    <title>{{ greeting }}</title>
    <link rel="stylesheet" type="text/css" href="./main.css" />
  </head>
  <body ng-init="names=['Harry', 'Ron', 'Hermione', 'Sirius', 'Hedwig', 'Tonks']">
    <section>

      <input type="text" placeholder="What is your name?" ng-init="name = 'BoJack'" ng-model='name' autofocus="">

      <h1>Yelling: {{ name | uppercase }}</h1>
      <h1>Whispering: {{ name | lowercase }}</h1>


      <h2>{{3.14159265359 | currency : '€'}}</h2>

      </select>
      <h2>{{3.14159265359 | number : '3'}}</h2>
      <h2>{{3.14159265359 | number : '6'}}</h2>
      <h2>{{3.14159265359 | number : '1'}}</h2>
<hr>
      <h1>select how many digits to round to..</h1>
      <select ng-model="select">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
      </select>
      <h1>Pi is rounded to {{ select }}
        <ng-pluralize  count='select' when="{'1': 'digit', 'other': 'digits'}"></ng-pluralize></h1>
      <h1>{{ 3.14159265359 | number: (select) }}</h1>


<hr>

      <h1>the most helpful tip calculator</h1>
      <label for="cost">Your Meal cost: </label><input type="text" placeholder="$$.$$" ng-model="cost">
    <br>
      <label for="tip">How Much Do you want to tip?</label>
      <select ng-model="tip">
          <option value=".10">10%</option>
          <option value=".15">15%</option>
          <option value=".20">20%</option>
      </select>
      <h3>Subtotal: {{ cost | currency }}</h3>
      <h3>Tip: {{ cost * tip | currency }} </h3>
    </section>
    <section>
        <form>
          <input type="text" placeholder="Enter a boy's name" ng-model="boyName">
        <br>
          <input type="text" placeholder="Enter an adjective" ng-model="adjective">
        <br>
          <input type="text" placeholder="Enter a plural noun" ng-model="pluralNoun">
        <br>
          <input type="text" placeholder="Enter a plural noun" ng-model="pluralNoun2">
        <br>
          <input type="text" placeholder="Enter an insect, plural" ng-model="insect">
        <br>
          <input type="text" placeholder="Enter a plural noun" ng-model="pluralNoun3">
        <br>
          <input type="text" placeholder="Enter a verb ending in 's'" ng-model="verb">
        </form>
    Dear Abby...
        <h3>I'm in love with <span>{{ boyName }}</span>. He's so <span>{{ adjective }}</span>! He has big flat <span>{{ pluralNoun }}</span>, and when our <span>{{ pluralNoun2 }}</span> meet, I get <span>{{ insect }}</span> in my stomach. I've fallen for him like a ton of <span>{{ pluralNoun3 }}</span>, and he <span>{{ verb }}</span> for me, too. But I think he's got another girlfriend. What should I do?</h3>


        <ul>
          <li ng-repeat='name in names'> {{ name }}</li>
        </ul>

        <ul ng-init="symbols=['Spades', 'Clubs', 'Hearts', 'Diamonds']">
          <li ng-repeat='symbol in symbols'>{{ symbol }}</li>
        </ul>


    </section>



<!-- vanilla js -->
    <!-- <input type="text" placeholder="What is your name?" autofocus="" onkeyup="writeName()">

    <h1>My name is: <span id="name"></span></h1> -->

    <script type="text/javascript" src = 'https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script type="text/javascript" src = './index.js'></script>
  </body>
</html>
