body {
  width: 100%;
  font-size: 16px;
}
main {
  width: 80%;
  margin-left: 20%;
  font-size: 2rem;
}

ul {
  font-size: 3rem;
}

input, select {
  font-size: 3rem;
}

span {
  text-decoration: underline;
}

.green {
  color: #12bf3c;
}

.red {
  color: #eb4247;
}

.camera {
  width: 40%;
  display: block;
}

.camera img {
  width: 100%;
  display: block;
}

.camera ul {
  list-style: none;
}

.yellow {
  color: #dee818;
}

.favoritecolor {
  background-color: #083b07;
}


/* ping pong*/

#pingpong {
  display: flex;
  width: 100%;
  height: 50vh;
  padding: 0;
  margin-left: -20%;
}

.player1, .player2 {
  font-size: 3rem;
  width: 45%;
  margin: 5%;
  text-align: center;
  color: white;
}

.player1 {
  background-color: #12bccd;
}

.player2 {
  background-color: #f18d25;
}

.score {
  font-size: 6rem;
}
