body {
  width: 100%;
  font-size: 16px;
  font-family: "Courier New";
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

main {
  width: 80%;
  margin-left: 20%;
  font-size: 2rem;
}

ul {
  font-size: 3rem;
}

input, select {
  font-size: 3rem;
}

span {
  text-decoration: underline;
}

.camera {
  width: 40%;
  display: block;
}

.camera img {
  width: 100%;
  display: block;
}

.camera ul {
  list-style: none;
}

.yellow {
  color: #dee818;
}

.favoritecolor {
  background-color: #083b07;
}


/* ping pong*/

#pingpong {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 50vh;
  padding: 0;
  margin-left: -20%;
}

.playerContainer {
  width: 100%;
  min-height: 80vh;
  display: flex;
  flex-flow: row;
}

.player1, .player2 {
  font-size: 3rem;
  font-family: "Courier New";
  width: 45%;
  margin: 5%;
  text-align: center;
  color: white;
  cursor: pointer;
}

.player1 {
  background-color: #12bccd;
}

.player2 {
  background-color: #f18d25;
}

.score {
  font-size: 10rem;
  font-weight: bold;
}

#reset {
  width: 80%;
  margin: auto;
  min-height: 10vh;
  font-size: 6rem;
  background-color: rgb(80, 11, 88);
  color: white;
}

.winflag {
  width: 80%;
  font-size: 6rem;
  color: #12bf3c;
  margin: auto;
  text-align: center;
}

.win {
  background-color: #12bf3c;
}

.lose {
  background-color: #eb4247;
}
/* end ping pong */

main {
  width: 100%;
  margin: 0;
  padding: 0;
}

.randomColor {
  display: flex;
  height: 90vh;
  width: 100%;
  display: flex;
  flex-flow: column;
}

.container {
  margin: auto;
  width: 60%;
  height: 60vh;
  border-style: solid;
}

.randomColor button{
  width: 40%;
  margin: auto;
  height: 5vh;
  font-size: 4rem;
  background-color: rgb(80, 11, 88);
  color: white;
}
