<% include ../partials/header %>
<h1>I'm not sure what you're looking for, but hopefully it's ice cream.</h1>
<div class="text-center">
  <iframe src="//giphy.com/embed/bDcs1vQmKdsqc" width="600" height="400" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
</div>
<% include ../partials/footer %>