<!DOCTYPE html>
<html ng-app="app">
<head>
<meta name="description" content="A starter for creating a simple contact list in Angular">
<script src="https://code.jquery.com/jquery.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>JS Bin</title>
</head>
<body ng-controller="contactsController">
  <br>
  <!-- everything relating to the form -->
  <div class="container">
    <div class="row">
      <div class="row">
        <div class="col-xs-3 col-xs-offset-1">
          <label for="contactName">Name</label>
          <input type="text"
                 id="contactName"
                 class="form-control"
                 ng-model="contact.name" autofocus>
        </div>
        <div class="col-xs-4">
          <label for="contactEmail">Email</label>
          <input type="text"
                 id="contactEmail"
                 class="form-control"
                 ng-model="contact.email">
        </div>
        <div class="col-xs-3">
          <label for="contactPhone">Phone</label>
          <input type="text"
                 id="contactPhone"
                 class="form-control"
                 ng-model="contact.phone">
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
          <br>
          <button class="btn btn-block btn-primary" ng-click="addContact()">
            Add Contact
          </button>
        </div>
      </div>
      <p style='text-align: center;'>{{contact}}</p>
    </div>

    <hr>

    <!-- everything relating to search and output -->
    <div ng-controller="SearchController">
      <div class="row">
        <div class="col-xs-12">
          <input class="form-control"
                 ng-model="search"
                 placeholder="Search for a Contact..."
                 type="text">
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-xs-12">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="contact in contacts | orderBy: search">
                <td>{{ contact.id }}</td>
                <td>{{ contact.name }}</td>
                <td>{{ contact.email }}</td>
                <td>{{ contact.phone }}</td>
              </tr>
            </tbody>
          </table>
          <p style='text-align: center; font-weight: bold;'>{{search}}</p>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="./contactsapp.js"></script>
</body>
</html>
